cerebra-rviz/usr/share/man/man1/cerebra-rviz.1.gz filter=lfs diff=lfs merge=lfs -text
cerebra-rviz/usr/share/cerebra-rviz/meshes/wheel_T530.stl filter=lfs diff=lfs merge=lfs -text
cerebra-rviz/usr/share/cerebra-rviz/meshes/main_body_v10.stl filter=lfs diff=lfs merge=lfs -text
